In [20]:
import pandas as pd
import duckdb

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_colwidth', 40)

def sql(sentence):
    with duckdb.connect('./target/adventureworks.duckdb') as con:
        df = con.sql(sentence).df()
        display(df)
        display(df.shape)

print(pd.__version__)

2.3.1

In [30]:
sql("""--sql
    
--select * from sales.salesorderheader
--select * from sales.salesorderdetail
select * from production.productcategory
limit 5
    


    
    
    
    
    """)

   productcategoryid         name modifieddate
0                  1        Bikes   2008-04-30
1                  2   Components   2008-04-30
2                  3     Clothing   2008-04-30
3                  4  Accessories   2008-04-30

(4, 3)